body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    background-color: #eeeeee;
}

main {
flex: 1 0 auto;
}

footer{
    width:100%;
    position: absolute; 
    bottom:0;
}
.page-footer, .nav-wrapper{
    background-color: #607d8b;
}
.brand-logo{
    margin-left:5%;
    
}
#nav-mobile{margin-right: 5%;}
.card-block{
    width:100%;
    height:100%;
}
#cardmain{
    top:50%;
    padding-bottom:50px;
    margin-top:50px;
}
.card-block{
    padding-top:50px;
}